 <div class="inn-container">
<div class="row">
    <div class="col-md-4" *ngFor="let item of items; let i = index">
      <div class="thumbnail">
        <a (click)="gotToDetails(item)">
            <img src="{{imageURL}}/{{item.fileName}}" alt="Lights" height="260">
        </a>
      </div>
    </div>
  </div>
 </div>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.4)" size="medium" color="#fff" type="square-jelly-box" template="<img src='assets/images/spin.gif' style='    height: 50px;
margin-bottom: 30px;'>" [fullScreen]="true">
    <p style="color: white"> Requesting... </p>
</ngx-spinner>