<div class="container">
  <div class="row ox-h">
    <div class="col-md-4" *ngFor="let item of [1,2,3,4,5]; let i = index">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>OX Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src='{{ "assets/gallery/img_" + (i+1) + ".jpeg" }}' alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.4)" size="medium" color="#fff" type="square-jelly-box" template="<img src='assets/images/spin.gif' style='    height: 50px;
margin-bottom: 30px;'>" [fullScreen]="true">
  <p style="color: white"> Requesting... </p>
</ngx-spinner>