<div class="block container">
    <div class="row title">
        <span>Skulls</span>
    </div>
    <div class="row gal">
        <div class="col-md-2" *ngFor="let item of [].constructor(49); let i = index">
            <div class="thumbnail">
                <a href="assets/images/skulls/images/{{i}}.png" target="_blank">
                    <img src="assets/images/skulls/images/{{i}}.png" alt="Lights" style="width:100%">
                    <div class="caption">
                        <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>