<!-- <div class="btn-block" *ngIf="showConnect"><span class="c-btn" (click)="openConnectDialog()">CONNECT TO WALLET</span></div> -->
<div class="block container">
  <div class="row">
    <div class="col" style="text-align: left;">
      <img class="img" src="assets/images/home_img.png" alt="home_img" height="70px">
      <h1>SIGNED</h1>
      <h1>FAN ART</h1>
      <a class="discover" [routerLink]="['/collections/items']" mat-raised-button>see collections</a>
    </div>
    <div class="col">
      <img src="assets/images/img_3.png" alt="home_img" height="350px">
    </div>
  </div>
</div>