<!-- <div class="btn-block" *ngIf="showConnect"><span class="c-btn" (click)="openConnectDialog()">CONNECT TO WALLET</span></div> -->
<div class="inn-container">
  <div class="row">
    <div class="col" style="text-align: left; margin-left: 50px;">
      <img class="img" src="assets/images/card_a.png" alt="home_img" height="70px">
      <h1>SIGNED</h1>
      <h2 style="font-weight: 900; font-size: 50px;">DIGITAL CARDS</h2>
      <a class="discover" [routerLink]="['/collections/items']" mat-raised-button>see collections</a>
    </div>
    <div class="col">
      <img src="assets/images/card_h.png" alt="home_img" height="350px">
    </div>
</div>