<div class="inn-container">
  <div class="row" style="width: 100%; margin-top: 50px;">
    <div class="col ox-r">
      <img src="assets/images/ox_home_1.jpeg" alt="home_img" class="ox_home" height="500px">
    </div>
    <div class="col ox-l">
      <h2>OX gallery</h2>
      <p>
        OX is a symbolic frame — a shape that carries optimism and invites reinterpretation. Each variation speaks with
        a new voice, remixed yet rooted, carrying the conversation forward. Every edition is minted through community
        consensus.
      </p>
      <button class="discover" [routerLink]="['/collections/mergeditem']">Collections</button>
    </div>
  </div>
</div>