.inn-container {
    margin: auto;
}

h2 {
    font-weight: 700;
}

.ox-l {
    margin: auto;
    margin-left: 20px;
    text-align: center;
}

.ox-r {
    text-align: center;
}

@media (max-width: 960px) {
    .ox_home {
        height: 300px;
        margin-left: 25px;
    }

    h2 {
        font-weight: 700;
    }

    .col {
        margin-bottom: 50px !important;
    }
}

.discover {
    position: relative;
    top: 15px;
    border-color: #000;
    background-color: #faf3e6;
    color: #000;
    padding: 5px 30px 5px 30px;
    border-radius: 25px;
    font-size: 21px;
    margin-bottom: 25px;

}

h1 {
    font-weight: 800;
    font-size: 108px;
    margin: 0;
}

.img {
    margin-bottom: 16px;
}