<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <!-- <a class="navbar-brand" href="#">MEMORABILLION</a> -->
       <img routerLink="/" style="cursor: pointer; margin-left: 90px;" src="assets/images/logo.png" alt="" height="65">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
        <form class="d-flex">
          <!-- <input class="form-control me-2" type="search" placeholder="Title, Artist, ID" aria-label="Search"> -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item" *ngIf="isAuth">
              <a class="nav-link active">
                Bal: {{accountInfo.amount || '0.00'}}
              </a>
            </li>
            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Collection
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item">Items</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item">Merged Items</a>
              </div>
            </li> -->
            <li class="nav-item">
              <a class="nav-link active" routerLink="/collections/mergeditem">Items</a>
            </li>

            <li class="nav-item">
              <a class="nav-link active" routerLink="/collections/item/upload">Mint</a>
            </li>
            <li class="nav-item connect" *ngIf="!isAuth" (click)="openConnectDialog()">
              <a class="nav-link active">Connect Wallet</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link active" routerLink="/collections/item/upload">Upload</a>
            </li> -->
            <li class="nav-item" *ngIf="isAuth">
              <a class="nav-link active" (click)="disconnect()">Logout</a>
            </li>
          </ul>
        </form>
      </div>
    </div>
  </nav>