.p-box {
    margin: auto;
    margin-top: 30px;
}

.form-label {
    font-weight: 700;
    font-size: 16px;
}

.prop-btn {
    width: 150px;
    font-size: 14px;
}

.submit-btn {
    width: 25%;
    font-size: 14px;
    font-size: 16;
}

#submit {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 20px;
}

.mdc-text-field--filled {
    background-color: red !important;
}