<div class="block container">
    <div class="row upload">
        <mat-card class="example-card">
            <form (ngSubmit)="saveData(f)" #f="ngForm">
                <mat-card-title>Upload Image</mat-card-title>
                <mat-card-content>
                    <div>
                        <mat-form-field appearance="legacy">
                            <mat-label>Title</mat-label>
                            <input matInput name="title" ngModel required>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="fill">
                            <mat-label>Choose collection</mat-label>
                            <mat-select name="collectionName" ngModel required>
                                <mat-option *ngFor="let item of collections" [value]="item.value">
                                    {{item.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="legacy">
                            <mat-label>Description</mat-label>
                            <input matInput name="description" ngModel required>
                        </mat-form-field>
                    </div>
                    <div>
                        <input (change)="upload($event)" type="file" class="custom-file-input" id="inputGroupFile01"
                            aria-describedby="inputGroupFileAddon01">
                    </div>
                </mat-card-content>
                <mat-card-actions style="text-align: center;">
                    <button type="submit" style="background-color: gray; color: #fff;" mat-button>Upload</button>
                </mat-card-actions>
            </form>
        </mat-card>
    </div>
</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.4)" size="medium" color="#fff" type="square-jelly-box" template="<img src='assets/images/spin.gif' style='    height: 50px;
margin-bottom: 30px;'>" [fullScreen]="true">
    <p style="color: white"> Requesting... </p>
</ngx-spinner>