<div class="block container">
    <div class="row">
      <div class="col">
        <img src="{{detailsData.imgURL}}" alt="notfound_img" height="350px">
      </div>
      <div class="col details">
        <div>
          <p>MB Genesis # {{detailsData.seqNumber}}</p>
          <span>Owned by <span class="add">0x...{{(walletAddress).substr(walletAddress.length-4)}}</span></span>
        </div>
        <div>
            <!-- <a class="offer-btn" mat-raised-button>Buy Offer</a> -->
            <a style="margin-left: 10px;"  class="offer-btn" mat-raised-button  href="{{openseaViewURL}}/{{detailsData.seqNumber}}" target="_blank">
              see item on open sea</a>
        </div>
      </div>
    </div>
  </div>