.inn-container {
    margin-top: 100px;
    margin-left: 60px;
    margin-bottom: 20px;
    margin-right: 60px;
}

a {
    cursor: pointer;
}

@media (max-width: 960px) {
    .col-md-4{
        width: 100% !important;
    }
    .thumbnail {
        margin-bottom: 15px;
    }
}
img{
    width: 100%;
}
.col-md-4{
    width: 20% !important;
    margin-bottom: 15px;
}