.example-card {
    max-width: 400px;
    margin-top: 20px;
}

.ox-h {
    // margin-top: 50px;
    width: 100%;
    // margin-bottom: 70px;
    margin: auto;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

@media (max-width: 960px) {
    .col-md-4 {
        width: 100% !important;
    }

    .thumbnail {
        margin-bottom: 15px;
    }
}