.search {
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}
.title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
}
.c-icon {
    border-radius: 24px;
    width: 30px;
    height: 30px;
}
tr:hover {
    background-color: #f3f3f3;
}
.list {
    padding-bottom: 30px;
}
